!!!
%html
  %head
    %title MwebEvents
    = stylesheet_link_tag    "application", :media => "all"
    = stylesheet_link_tag    "bootstrap_and_overrides", :media => "all"

    = javascript_include_tag "application"
    = javascript_include_tag "twitter/bootstrap"

    = csrf_meta_tags

  %body{:class => "#{controller_name_for_view} #{params[:action]}"}

    = render partial: "shared/flash_messages", flash: flash
    = yield
