%p#notice= notice

%p
  %b Owner:
  = @participant.owner
%p
  %b Email:
  = @participant.email
%p
  %b Event:
  = @participant.event

= link_to 'Edit', edit_event_participant_path(@event, @participant)
\|
= link_to 'Back', event_participants_path(@event)
