
.event-container.container-fluid{:itemscope=>true, :itemtype=>"http://schema.org/Event"}

  .event-header.masthead.rounded
    .logo
      %img{:src =>'http://placehold.it/1280x200/ffa/&text=Logo'}
    %h1.name{:itemprop => "name"}
      = @event.name
    .creator
      by Lucas

  %hr

  .row-fluid
    .span8
      = render 'registration'

      %hr

      %section.event-description.well{:itemprop => "description"}
        = @event.description_html.html_safe

      %hr

        = render 'social_media'


    .span4
      .event-summary
        .well
          = render 'summary'

        .well
          %aside
            %h3 Organizers

            %h3 Extra info and logos

  %hr

  .row
    .span4


  %footer
    Footer stuff

  %i.fa.fa-edit
  = link_to t('.edit'), edit_event_path(@event)
