.event-container.container-fluid{:itemscope=>true, :itemtype=>"http://schema.org/Event"}

  .event-header.masthead
    .logo
      %img{:src =>'http://placehold.it/1280x200/ffa/&text=Logo'}
    %h1.name{:itemprop => "name"}
      = @event.name
    .creator
      by Lucas

  %hr

  .row-fluid
    .span8
      .well
        = render 'registration'

      .well
        = render 'description'

      .row-fluid
        = render 'social_media'

    .span4
      .well
        = render 'summary'

      .well
        %aside
          %h3 Organizers

          %h3 Extra info and logos

  .row-fluid
    .span12
      %footer
        .well
          %h1 Footer stuff

        %i.fa.fa-edit
        = link_to t('.edit'), edit_event_path(@event)
