= simple_form_for(@event, :class => 'form-inline') do |f|
  = f.error_notification

  .form-inputs

    = f.input :owner_name, :disabled => true

    = f.input :name

    .input-append.date#start_on
      = f.label :start_on
      = f.text_field :start_on, :'data-format' => 'dd/MM/yyyy hh:mm:ss'

      %span.add-on
        %i{:'data-time-icon'=>"icon icon-time", :'data-date-icon'=>"icon icon-calendar"}

    %br

    .input-append.date#end_on
      = f.label :end_on
      = f.text_field :end_on, :'data-format' => 'dd/MM/yyyy hh:mm:ss'

      %span.add-on
        %i{:'data-time-icon'=>"icon icon-time", :'data-date-icon'=>"icon icon-calendar"}

    %br

    = f.label :time_zone
    = f.time_zone_select :time_zone, [Time.zone]
    .time_zone_options{:'data-default' => Time.zone}
    = f.hint :time_zone

    %br
    %br

    = f.input :location

    = f.input :address

    %br

    = f.label :social_networks
    .form-inline
      = f.collection_check_boxes :social_networks, MwebEvents::SOCIAL_NETWORKS, :to_s, :to_s
    = f.hint :social_networks


    = f.input :summary, :input_html => { :rows => 3 }

    = f.input :description

    #epiceditor

  .form-actions
    = f.button :submit
