= simple_form_for(@event) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name

    .input-append.date#start_on
      = f.label :start_on
      = f.text_field :start_on, :'data-format' => 'dd/MM/yyyy hh:mm:ss'

      %span.add-on
        %i{:'data-time-icon'=>"fa fa-clock-o", :'data-date-icon'=>"fa fa-calendar"}

    %br

    .input-append.date#end_on
      = f.label :end_on
      = f.text_field :end_on, :'data-format' => 'dd/MM/yyyy hh:mm:ss'

      %span.add-on
        %i{:'data-time-icon'=>"fa fa-clock-o", :'data-date-icon'=>"fa fa-calendar"}

    %br

    = f.label :time_zone
    = f.time_zone_select :time_zone

    %br

    = f.input :address

    = f.input :description

  #epiceditor

  .form-actions
    = f.button :submit
