= simple_form_for(@event, :class => 'form-inline') do |f|
  = f.error_notification

  .form-inputs

    = f.input :owner_name, :disabled => true

    = f.input :name

    = f.hidden_field :owner_id
    = f.hidden_field :owner_type

    .input.string.event_start_on.field_with_hint

      .input-append.date#start_on_date.datepicker-field
        = f.label :start_on_date
        = f.hint :start_on_date
        = f.text_field :start_on_date, :'data-format' => 'dd/MM/yyyy'

        %span.add-on
          %i{:'data-time-icon'=>"icon icon-time", :'data-date-icon'=>"icon icon-calendar"}

      %i.icon-remove.clear-date{:'data-clear' => 'start_on_date'}

      .input-append.date#start_on_time.datepicker-field
        = f.label :start_on_time
        = f.hint :start_on_time
        = f.text_field :start_on_time, :'data-format' => 'hh:mm'

        %span.add-on
          %i{:'data-time-icon'=>"icon icon-time", :'data-date-icon'=>"icon icon-calendar"}

      %i.icon-remove.clear-date{:'data-clear' => 'start_on_time'}

    .input.string.event_end_on.field_with_hint

      .input-append.date#end_on_date.datepicker-field
        = f.label :end_on_date
        = f.hint :end_on_date
        = f.text_field :end_on_date, :'data-format' => 'dd/MM/yyyy'

        %span.add-on
          %i{:'data-time-icon'=>"icon icon-time", :'data-date-icon'=>"icon icon-calendar"}

      %i.icon-remove.clear-date{:'data-clear' => 'end_on_date'}

      .input-append.date#end_on_time.datepicker-field
        = f.label :end_on_time
        = f.hint :end_on_time
        = f.text_field :end_on_time, :'data-format' => 'hh:mm'

        %span.add-on
          %i{:'data-time-icon'=>"icon icon-time", :'data-date-icon'=>"icon icon-calendar"}

      %i.icon-remove.clear-date{:'data-clear' => 'end_on_time'}

    .input.string.event_time_zone.field_with_hint

      = f.label :time_zone
      = f.hint :time_zone

      = f.time_zone_select :time_zone, [Time.zone]
      #time_zone_options{:'data-default' => Time.zone}

    = f.input :location

    = f.input :address

    .input.event_social_networks.field_with_hint

      = f.label :social_networks
      = f.hint :social_networks

      .form-inline
        = f.collection_check_boxes :social_networks, MwebEvents::SOCIAL_NETWORKS, :to_s, :to_s
    %br
    %br

    = f.input :summary, :input_html => { :rows => 3 }

    = f.input :description

    = render 'markdown_modal'

    #epiceditor

    - cancel_path = @event.new_record? ? events_path : event_path(@event)
    = f.button :wrapped, :cancel => cancel_path, :value => t("_other.save")