%a{:href => "#markdown-syntax", :'data-toggle' => "modal"}
  = t '.title'

#markdown-syntax.modal.hide.fade{"aria-hidden" => "true", "aria-labelledby" => "markdown-syntax", role: "dialog", tabindex: "-1"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} x
    %h3#markdown-syntax-label
      %p
        = t '.title'

  .modal-body
    %p
      = t '.description_html'

    = render "markdown_#{I18n.locale.to_s.underscore}"

  .modal-footer
    %button.btn{"aria-hidden" => "true", "data-dismiss" => "modal"}
      = t '_other.close'
