.event-summary
  %h3
    = @event.name

  %p
    %i.fa.fa-calendar-o
    %meta{:itemprop => "startDate", :content => @event.start_on_with_time_zone}
    %time{ :datetime => @event.start_on_with_time_zone }
      = t('.start_on')
      = l @event.start_on_with_time_zone

  -if @event.end_on
    %p
      %i.fa.fa-calendar-o
      %meta{:itemprop => "endDate", :content => @event.end_on_with_time_zone}
      %time{ :datetime => @event.end_on_with_time_zone }
        = t('.end_on')
        = l @event.end_on_with_time_zone

  %p
    %i.fa.fa-clock-o
    = t('.time_zone')
    = @event.time_zone

  .event-map{:'data-zoom' => Leaflet.max_zoom, :'data-latitude' => @event.latitude, :'data-longitude' => @event.longitude, :'data-layer' => Leaflet.tile_layer, :'data-address' => @event.address, :'data-attribution' => Leaflet.attribution }
    #map

  %p{:itemprop=>"location", :itemtype=>"http://schema.org/Place"}
    %i.fa.fa-map-marker
    = @event.address

  %ul.nav.nav-pills.nav-stacked
    %li
      %a.calendar.summary-button{:href => event_path(@event, :format => 'ics')}
        %i.fa.fa-calendar
        = t('.calendar')

    %li
      %a.contact.summary-button{:href => "#"}
        %i.fa.fa-envelope
        = t('.contact')

    %li
      %a.rss.summary-button{:href => "#"}
        %i.fa.fa-rss
        = t('.rss')
