.event-container.container-fluid{:itemscope=>true, :itemtype=>"http://schema.org/Event"}

  .event-header.masthead
    = render 'title'

  .row-fluid
    .span8
      .well
        = render 'registration'

      .well
        = render 'description'

      .row-fluid
        = render 'social_media'

    .span4
      .well
        = render 'summary'

      .well
        %aside
          .event-organizers
            = render 'organizers'

  .row-fluid
    .span12
      %footer
        .well

          - if can? :edit, @event
            %i.icon.icon-edit
            = link_to t('.edit'), edit_event_path(@event)
